html,body {
	background: #2F261F;
/*	background: #826146;*/
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-size: 85%;
  height: 100%;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
	margin: 0px; 
	padding: 0px;
}
#wrapper {
	background:none repeat scroll 0 0 #614F40;
	margin:0 auto;
	width:940px;
	border-left: 1px solid #40332a;
	border-right: 1px solid #40332a;
	border-bottom: 1px solid #614F40;
	-moz-box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
}
a {
	color: #fff;
	outline: none;
	text-decoration: none;
	display: block;
}
a:hover {
	color: #fff;
	outline: none;
	text-decoration: underline;
	list-style: none;
}
a:active {
	outline: none;
	text-decoration: none;
}
a:visited {
	outline: none;
	text-decoration: none;
}
.center {
  text-align: center;
}
#hd {
  position: relative;
	width: 940px;
  height: 120px;
	background: url("../images/header4.png") no-repeat;
}
#logo {
	float:left;
	height:120px;
	margin-left:70px;
	position:relative;
	width:400px;
}
#logo h1	{
	text-indent: -9999em;
}
#logo a {
	height:120px;
	position:relative;
	text-indent:-9999em;
	width:400px;
}
#banner {
	position: relative;
	border: 1px solid #937d6a;
	background: #937d6a;
	margin-left:25px;
	margin-top:35px;
	padding:8px;
	-moz-box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
	float: left;
}
#banner img {
	border:1px solid #362c24;
	position:relative;
}
#sidebar {
	border: 1px solid #937d6a;
	position: relative;
	float:left;
	min-height:645px;
	margin:35px 0 20px 20px;
	width:255px;
	background: #6b4d34 url("../images/sidebar_bg2.png") no-repeat scroll 0 0;
	-moz-box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
}
#sidebar_inner {
	position: relative;
	float: left;
	width:253px;
	border: 1px solid #362c24;
}
h2.sidebar_header {
	position: relative;
	width: 207px;
	height: 31px;
	margin: 10px auto;
	text-indent: -3000em;
	background: url(../images/stage.png) 0px 0px no-repeat;
}
#sidebar img {
	color:#CCCCCC;
	font-size:20px;
	margin-top:20px;
	text-align:center;
}
#menu	{
	height:270px;
	width:255px;
}
#menu ul {
	height:300px;
	width:255px;
	list-style: none;
	text-align: center;
}
#menu ul li {
	background:#000;
	color:#FFFFFF;
	height:20px;
	margin:10px auto;
	width:165px;
}
#menu ul li a {
	color: #fff;
	display: block;
	height: 20px;
	width: 165px;
	border:1px solid #937D6A;
}
#menu ul li a:hover {
	color: #000;
	background: #fff;
	text-decoration: underline;
	border:1px solid #000;
}
.list_item {
	position: relative;
	width: 150px;
	margin: 0px auto;
	list-style:none outside none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #937D6A;
	text-indent: -9999em;
}
.list_item a {
	text-indent: -9999em;
	display: block;
	width: 150px;
}	
#logos {
	position: relative;
	width: 255px;
	height: 350px;
}
#red {
	background:url("../images/redmntn.png") no-repeat scroll 0 0 transparent;
	height: 38px;
}
#red a {
	height: 38px;
}
#reesa {
	background:url("../images/resa1.jpg") no-repeat scroll 0 0 transparent;
	height: 70px;
}
#reesa a {
	height: 70px;
}
#iris {
	background:url("../images/iris1.gif") no-repeat scroll 0 0 transparent;
	height: 65px;
}
#iris a {
	height: 65px;
}
#ia {
	background:url("../images/ia3.jpg") no-repeat scroll 0 0 transparent;
	height: 75px;
}
#ia a {
	height: 75px;
}
#main_content {
	position: relative;
	float: left;
	background: url(../images/content_bg.jpg) 0px 0px no-repeat;
}
#content_btm {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 940px;
	height: 300px;
	background: url(../images/content_bottom.jpg) 0px bottom no-repeat;
}
#content {
	float:left;
	height:350px;
	position:relative;
	width:650px;
	height:100%;
	padding-bottom: 20px;
}
#content h2, #content h3 {
	color:#fff;
	text-shadow: 0px 1px 1px #000;
	float:left;
	font-size:28px;
	margin:20px 0 20px 30px;
}
#content h3 {
	font-size: 20px;
}
#content h4 {
	color:#CCCCCC;
	float:left;
	font-size:20px;
	margin:40px 0 10px 0;
	width:650px;
}
#content p {
	color:#CCCCCC;
	float:left;
	padding:0 30px;
	text-align:justify;
	width:610px;
	margin-bottom: 10px;
	font-size: 16px;
}
#content p .italic {
	font-style: italic;
}
#content p a {
	display: block;
	width:40px;
}
#content ul {
	position: relative;
	float: left;
	width: 650px;
	height: 240px;
	text-align: center;
	margin-top: 20px;
}
#content ul li {
	color:#CCCCCC;
	font-size:20px;
	height:30px;
	position:relative;
	width:650px;
	float: left;
}
#content form {
	position: relative;
	float: left;
	width: 500px;
	margin-left: 60px;
}
#contact_heading {
	width: 558px;
	height: 90px;
	position: relative;
	float: left;
}
#contact_heading h2 {
	width: 558px;
	height: 30px;
}
#content label {
	color:#CCCCCC;
	float:left;
	margin-left:35px;
	margin-top:10px;
	position:relative;
	text-align:left;
	width:100%;
	font-size: 16px;
}
#content input {
	border:1px solid #000;
	float:left;
	height:25px;
	margin-left:30px;
	margin-top:5px;
	position:relative;
	text-align:left;
}
#content textarea {
	border:1px solid #000;
	float:left;
	margin-left:30px;
	margin-top:5px;
	position:relative;
	text-align:left;
}
#content div.form_field {
	width: 100%;
	height: 35px;
	text-align: left;
	position: relative;
	float: left;
}
#content div.form_field_text {
	float:left;
	height:120px;
	position:relative;
	text-align:left;
	width:100%;
}
#content div.form_field_select {
	width: 100%;
	height: 55px;
	text-align: left;
	position: relative;
	float: left;
}
#content div.form_field_button {
	height:80px;
	width:100%;
}
#content div.error {
	position: relative;
	color:#FF0000;
	float:left;
	margin-left:32px;
	margin-top:-3px;
	text-align:left;
	width:440px;
}
#content select {
	position: relative;
	float: left;
	height:25px;
	margin-left:30px;
	margin-top:5px;
}
#content textarea {
	position: relative;
	float: left;
	margin-left:30px;
	margin-top:5px;
}
#content .btn {
	background:#fff;
	border:1px solid #000;
	display:block;
	float:left;
	height:30px;
	margin-left:30px;
	margin-top:25px;
	position:relative;
	text-align:center;
	width:70px;
}
#content .btn:hover {
	background: #000;
	border:1px solid #937D6A;
	float:left;
	height:30px;
	margin-left:30px;
	margin-top:25px;
	position:relative;
	text-align:center;
	width:70px;
	display:block;
	color: #fff;
}
#left {
	position: relative;
	float: left;
	width: 325px;
	text-align: center;
}
#content #left img {
	margin-top: 20px;
	border:1px solid #937D6A;
	padding: 1px;
	background: #ccc;
}
#content #left h2 {
	margin:10px auto;
	position:relative;
	text-align:center;
	width:325px;
}
#right {
	position: relative;
	float: left;
	width: 325px;
	text-align: center;
}
#content #right img {
	margin-top: 20px;
	border:1px solid #937D6A;
	padding: 1px;
	background: #ccc;
}
	
#content #right h2 {
	margin:10px auto;
	position:relative;
	text-align:center;
	width:325px;
}
#ft {
	background: #000 url(../images/footer.jpg) 0px 0px no-repeat;
}
#footer {
	height:75px;
	width:940px;
}
.footer_nav {
	color:#333;
	float:left;
	margin-left:30px;
	margin-top:35px;
}
.footer_nav ul {
	position: relative;
	float: left;
	width: 600px;
	height: 20px;
}
.footer_nav ul li {
	position: relative;
	float: left;
	height: 15px;
	width: 75px;
	background: none;
}
#footer a {
	text-decoration: none;
	color: #666;
	text-shadow: 0px 1px 1px #000;
}
#footer a:hover {
	text-decoration: underline;
	color: #fefefe;
}
.site_tag {
	float: right;
	color:#333;
	margin-right:30px;
	margin-top:35px;
}
.clear {
	clear: both;
}